
<mat-card>
  <mat-card-header>{{ car.tipus }}</mat-card-header>
  <mat-card-content>
    <div [ngClass]="index % 2 === 0 ? 'img-blue-div' : 'img-orange-div'">
      <span [ngStyle]="index % 2 === 0 ? {'color':'#00BCD4'} : {'color':'#FF9800'}">
        {{ car.model }}
      </span>
      <span [ngStyle]="index % 2 === 0 ? {'color':'#00BCD4'} : {'color':'#FF9800'}">
        {{ car.rendszam }}
      </span>
      <span [ngStyle]="index % 2 === 0 ? {'color':'#00BCD4'} : {'color':'#FF9800'}">
        {{ car.tipus }}
      </span>
      <span [ngStyle]="index % 2 === 0 ? {'color':'#00BCD4'} : {'color':'#FF9800'}">
        {{ car.ok }}
      </span>
      <span [ngStyle]="index % 2 === 0 ? {'color':'#00BCD4'} : {'color':'#FF9800'}">
        {{ car.uzemanyag }}
      </span>
      <span [ngStyle]="index % 2 === 0 ? {'color':'#00BCD4'} : {'color':'#FF9800'}">
        {{ car.gyartasi_ev }}
      </span>
      <span [ngStyle]="index % 2 === 0 ? {'color':'#00BCD4'} : {'color':'#FF9800'}">
        {{ car.teljesitmeny }}
      </span>
      <span [ngStyle]="index % 2 === 0 ? {'color':'#00BCD4'} : {'color':'#FF9800'}">
        {{ car.tomeg }}
      </span>
      <span [ngStyle]="index % 2 === 0 ? {'color':'#00BCD4'} : {'color':'#FF9800'}">
        {{ car.tulaj }}
      </span>
    </div>
  </mat-card-content>
</mat-card>
