<form [formGroup]="loginForm">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="email" />
    @if (loginForm.get('email')?.hasError('required')) {
    <mat-error> Kötelezően kitöltendő mező </mat-error>
    } @else if (loginForm.get('email')?.hasError('email')) {
    <mat-error>A formátum nem megfelelő</mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Jelszó</mat-label>
    <input type="password" matInput formControlName="password" />
    @if (loginForm.get('password')?.hasError('required')) {
    <mat-error> Kötelezően kitöltendő mező </mat-error>
    } @else if (loginForm.get('password')?.hasError('minlength')) {
    <mat-error>Túl rövid! (Min 6 hossz)</mat-error>
    }
    
  </mat-form-field>
  <p>Teszteléshez írd be: email:a&#64;a jelszó:111111</p>
  <button mat-flat-button (click)="navigates('main')">Bejelentkezés</button>
</form>
