<form [formGroup]="registerform" (ngSubmit)="registration()">
  <mat-form-field appearance="fill">
    <mat-label>Név</mat-label>
    <input matInput formControlName="name" />
    <mat-error *ngIf="registerform.get('name')?.hasError('required')">
      Kötelezően kitöltendő mező
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Születési dátum</mat-label>
    <input matInput type="date" formControlName="date" />
    <mat-error *ngIf="registerform.get('date')?.hasError('required')">
      Kötelezően kitöltendő mező
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Város</mat-label>
    <input matInput formControlName="city" />
    <mat-error *ngIf="registerform.get('city')?.hasError('required')">
      Kötelezően kitöltendő mező
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Telefonszám</mat-label>
    <input matInput formControlName="phone" />
    <mat-error *ngIf="registerform.get('phone')?.hasError('required')">
      Kötelezően kitöltendő mező
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" type="email" />
    <mat-error *ngIf="registerform.get('email')?.hasError('required')">
      Kötelezően kitöltendő mező
    </mat-error>
    <mat-error *ngIf="registerform.get('email')?.hasError('email')">
      Helytelen formátum
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Jelszó</mat-label>
    <input matInput type="password" formControlName="password" />
    <mat-error *ngIf="registerform.get('password')?.hasError('required')">
      Kötelezően kitöltendő mező
    </mat-error>
    <mat-error *ngIf="registerform.get('password')?.hasError('minlength')">
      Minimum 6 karakter
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Jelszó újra</mat-label>
    <input matInput type="password" formControlName="repassword" />
    <mat-error *ngIf="registerform.get('repassword')?.hasError('required')">
      Kötelezően kitöltendő mező
    </mat-error>
    <mat-error *ngIf="registerform.get('repassword')?.hasError('minlength')">
      Minimum 6 karakter
    </mat-error>
  </mat-form-field>

  <button mat-flat-button color="primary" type="submit">Regisztráció</button>
</form>
