<mat-drawer #drawer mode="over" class="drawerclass">
    <button mat-icon-button (click)="drawer.close()"><mat-icon>menu</mat-icon></button>
    <mat-list role="list">
      <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>
        
  </mat-drawer>
<mat-drawer-container class="layout-container">
    <mat-drawer-content>
      <app-menu (sidenav)="drawer.open()"></app-menu>
    </mat-drawer-content>
  </mat-drawer-container>
  <router-outlet></router-outlet>    
